[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/yulei/lvgl
	ignore = dirty
[submodule "libs/tmk"]
	path = libs/tmk
	url = https://github.com/yulei/tmk_keyboard.git
	ignore = dirty
[submodule "libs/tinyusb"]
	path = libs/tinyusb
	url = https://github.com/yulei/tinyusb.git
	ignore = dirty
[submodule "libs/printf"]
	path = libs/printf
	url = https://github.com/yulei/printf.git
	ignore = dirty
[submodule "stm32_sdk/cmsis"]
	path = stm32_sdk/cmsis
	url = https://github.com/STMicroelectronics/cmsis_core.git
	ignore = dirty
[submodule "stm32_sdk/devices/f4"]
	path = stm32_sdk/devices/f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
	ignore = dirty
[submodule "stm32_sdk/drivers/f4"]
	path = stm32_sdk/drivers/f4
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
	ignore = dirty
[submodule "stm32_sdk/usb_device"]
	path = stm32_sdk/usb_device
	url = https://github.com/STMicroelectronics/stm32_mw_usb_device.git
	ignore = dirty
[submodule "stm32_sdk/usb_host"]
	path = stm32_sdk/usb_host
	url = https://github.com/STMicroelectronics/stm32_mw_usb_host.git
	ignore = dirty
[submodule "stm32_sdk/devices/f1"]
	path = stm32_sdk/devices/f1
	url = https://github.com/STMicroelectronics/cmsis_device_f1.git
	ignore = dirty
[submodule "stm32_sdk/drivers/f1"]
	path = stm32_sdk/drivers/f1
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver.git
	ignore = dirty
[submodule "stm32_sdk/drivers/f7"]
	path = stm32_sdk/drivers/f7
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
	ignore = dirty
[submodule "stm32_sdk/devices/f7"]
	path = stm32_sdk/devices/f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
	ignore = dirty
[submodule "libs/nofrendo"]
	path = libs/nofrendo
	url = https://github.com/yulei/nofrendo_arcada.git
	ignore = dirty
[submodule "nuvoton_sdk/nuc126"]
	path = nuvoton_sdk/nuc126
	url = https://github.com/OpenNuvoton/NUC126BSP.git
	ignore = dirty
[submodule "stm32_sdk/drivers/l4"]
	path = stm32_sdk/drivers/l4
	url = https://github.com/STMicroelectronics/stm32l4xx_hal_driver.git
	ignore = dirty
[submodule "stm32_sdk/devices/l4"]
	path = stm32_sdk/devices/l4
	url = https://github.com/STMicroelectronics/cmsis_device_l4.git
	ignore = dirty
[submodule "stm32_sdk/devices/l0"]
	path = stm32_sdk/devices/l0
	url = https://github.com/STMicroelectronics/cmsis_device_l0.git
	ignore = dirty
[submodule "stm32_sdk/drivers/l0"]
	path = stm32_sdk/drivers/l0
	url = https://github.com/STMicroelectronics/stm32l0xx_hal_driver.git
	ignore = dirty
