[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/yulei/lvgl.git
[submodule "libs/tmk"]
	path = libs/tmk
	url = https://github.com/yulei/tmk_keyboard.git
[submodule "libs/tinyusb"]
	path = libs/tinyusb
	url = https://github.com/yulei/tinyusb.git
[submodule "libs/printf"]
	path = libs/printf
	url = https://github.com/yulei/printf
