.vscode/
.vs/
build/
core/
keyboards/amkbd/
sdk/nrf5/nRF5_SDK_*
sdk/stm32/misc/*
!sdk/stm32/misc/*.ioc
sdk/samd/d21/gcc/*
!sdk/samd/d21/gcc/Makefile
*.DS_Store
*.bin
*.hex
*.elf
*.uf2
keyboards/**/version.h
