[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/yulei/lvgl
	ignore = dirty
[submodule "libs/tmk"]
	path = libs/tmk
	url = https://github.com/yulei/tmk_keyboard.git
	ignore = dirty
[submodule "libs/tinyusb"]
	path = libs/tinyusb
	url = https://github.com/yulei/tinyusb.git
	ignore = dirty
[submodule "libs/printf"]
	path = libs/printf
	url = https://github.com/yulei/printf.git
	ignore = dirty
[submodule "libs/nofrendo"]
	path = libs/nofrendo
	url = https://github.com/yulei/nofrendo_arcada.git
	ignore = dirty
